In [2]:
# NOTE: df_smyl is actually df_montero

In [3]:
import pandas as pd
import numpy as np

In [4]:
naive2_smape = {
    "yearly": 16.342,
    "quarterly": 11.012,
    "monthly": 14.427,
    "weekly": 9.161,
    "daily": 3.045,
    "hourly": 18.383,
    "global": 13.564,
}
naive2_mase = {
    "yearly": 3.974,
    "quarterly": 1.371,
    "monthly": 1.063,
    "weekly": 2.777,
    "daily": 3.278,
    "hourly": 2.396,
    "global": 1.912,
}

In [25]:
def MASE(actual: np.array, predicted: np.array, scale: np.array) -> float:
    """ Calculating Mean Absolute Scaled Error """
    return np.mean(np.nanmean(np.abs(actual - predicted), axis=1) / scale)


def SMAPE(actual: np.array, predicted: np.array) -> float:
    """ Calculating Symmetric Mean Absolute Prediction Error """
    return np.mean(np.nanmean(200.0 * np.abs(actual - predicted) / (np.abs(actual) + np.abs(predicted)),axis=1))


def OWA(mase: float, smape: float, freq: str = "global") -> float:
    """ Calculating the Overall Weighted Average used in M4 """
    return (
        mase / naive2_mase[freq]
        + smape / naive2_smape[freq]
    ) / 2

In [6]:
df_smyl = pd.read_csv("C:\\Users\eriko\\OneDrive\\Documents\\projects\\GPTime-Series\\GPTime\\tests\\data\\M4submissions\\submission-245.csv", index_col=0)

In [7]:
df_smyl.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F39,F40,F41,F42,F43,F44,F45,F46,F47,F48
id,,,,,,,,,,,,,,,,,,,,,
Y1,7291.322400,7333.897027,7376.682477,7419.545627,7462.400007,7505.189830,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y2,1593.138744,1580.922961,1569.845776,1559.779354,1550.556673,1541.846688,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y3,8560.555173,8729.000652,8902.360935,9094.041002,9284.889946,9480.072126,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y4,9873.212978,10089.192494,10303.885348,10519.154315,10734.147576,10949.255217,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y5,7016.500464,7191.824019,7367.583331,7543.184361,7718.139502,7892.148716,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_smyl_y = df_smyl[df_smyl.index.str.contains("Y")]
df_smyl_q = df_smyl[df_smyl.index.str.contains("Q")]
df_smyl_m = df_smyl[df_smyl.index.str.contains("M")]
df_smyl_w = df_smyl[df_smyl.index.str.contains("W")]
df_smyl_d = df_smyl[df_smyl.index.str.contains("D")]
df_smyl_h = df_smyl[df_smyl.index.str.contains("H")]

df_smyl_y.shape, df_smyl_q.shape, df_smyl_m.shape, df_smyl_w.shape, df_smyl_d.shape, df_smyl_h.shape

((23000, 48), (24000, 48), (48000, 48), (359, 48), (4227, 48), (414, 48))

In [9]:
df_test_y = pd.read_csv("C:\\Users\eriko\\OneDrive\\Documents\\projects\\GPTime-Series\\GPTime\\tests\\data\\M4test\\Yearly-test.csv", index_col=0)
df_test_q = pd.read_csv("C:\\Users\eriko\\OneDrive\\Documents\\projects\\GPTime-Series\\GPTime\\tests\\data\\M4test\\Quarterly-test.csv", index_col=0)
df_test_m = pd.read_csv("C:\\Users\eriko\\OneDrive\\Documents\\projects\\GPTime-Series\\GPTime\\tests\\data\\M4test\\Monthly-test.csv", index_col=0)
df_test_w = pd.read_csv("C:\\Users\eriko\\OneDrive\\Documents\\projects\\GPTime-Series\\GPTime\\tests\\data\\M4test\\Weekly-test.csv", index_col=0)
df_test_d = pd.read_csv("C:\\Users\eriko\\OneDrive\\Documents\\projects\\GPTime-Series\\GPTime\\tests\\data\\M4test\\Daily-test.csv", index_col=0)
df_test_h = pd.read_csv("C:\\Users\eriko\\OneDrive\\Documents\\projects\\GPTime-Series\\GPTime\\tests\\data\\M4test\\Hourly-test.csv", index_col=0)

In [10]:
df_test_y.shape

(23000, 6)

In [11]:
df_test = pd.concat([df_test_y, df_test_q, df_test_m, df_test_w, df_test_d, df_test_h])

In [12]:
df_test.shape

(100000, 48)

In [13]:
df_train_y = pd.read_csv("C:\\Users\eriko\\OneDrive\\Documents\\projects\\GPTime-Series\\GPTime\\tests\\data\\M4train\\Yearly-train.csv", index_col=0)
df_train_q = pd.read_csv("C:\\Users\eriko\\OneDrive\\Documents\\projects\\GPTime-Series\\GPTime\\tests\\data\\M4train\\Quarterly-train.csv", index_col=0)
df_train_m = pd.read_csv("C:\\Users\eriko\\OneDrive\\Documents\\projects\\GPTime-Series\\GPTime\\tests\\data\\M4train\\Monthly-train.csv", index_col=0)
df_train_w = pd.read_csv("C:\\Users\eriko\\OneDrive\\Documents\\projects\\GPTime-Series\\GPTime\\tests\\data\\M4train\\Weekly-train.csv", index_col=0)
df_train_d = pd.read_csv("C:\\Users\eriko\\OneDrive\\Documents\\projects\\GPTime-Series\\GPTime\\tests\\data\\M4train\\Daily-train.csv", index_col=0)
df_train_h = pd.read_csv("C:\\Users\eriko\\OneDrive\\Documents\\projects\\GPTime-Series\\GPTime\\tests\\data\\M4train\\Hourly-train.csv", index_col=0)
frames = [
    (df_train_y, 1),
    (df_train_q, 4),
    (df_train_m, 12),
    (df_train_w, 1),
    (df_train_d, 1),
    (df_train_h, 24),
]

scale_list = []
for df, period in frames:
    s = df.diff(periods=period, axis=1).abs().mean(axis=1).reset_index(drop=True)
    scale_list.append(s.values)
scale = np.concatenate(scale_list)

In [14]:
smape = SMAPE(df_test.values, df_smyl.values)
smape

11.820814956137951

In [15]:
mase = MASE(df_test.values, df_smyl.values, scale=scale)
mase

1.5513648521942258

In [16]:
OWA(mase, smape)

0.8414338658898155

In [17]:
smape_y = SMAPE(df_test_y.values, df_smyl_y.values[:,:6])
mase_y = MASE(df_test_y.values, df_smyl_y.values[:,:6], scale_list[0])
owa_y = OWA(mase_y, smape_y, freq="yearly")
round(smape_y, 3), round(mase_y, 3), round(owa_y, 3)

(13.528, 3.06, 0.799)

In [18]:
smape_q = SMAPE(df_test_q.values, df_smyl_q.values[:,:8])
mase_q = MASE(df_test_q.values, df_smyl_q.values[:,:8], scale_list[1])
owa_q = OWA(mase_q, smape_q, freq="quarterly")
round(smape_q, 3), round(mase_q, 3), round(owa_q, 3)

(9.733, 1.111, 0.847)

In [19]:
smape_m = SMAPE(df_test_m.values, df_smyl_m.values[:,:18])
mase_m = MASE(df_test_m.values, df_smyl_m.values[:,:18], scale_list[2])
owa_m = OWA(mase_m, smape_m, freq="monthly")
round(smape_m, 3), round(mase_m, 3), round(owa_m, 3)

(12.639, 0.893, 0.858)

In [20]:
smape_w = SMAPE(df_test_w.values, df_smyl_w.values[:,:13])
mase_w = MASE(df_test_w.values, df_smyl_w.values[:,:13], scale_list[3])
owa_w = OWA(mase_w, smape_w, freq="weekly")
round(smape_w, 3), round(mase_w, 3), round(owa_w, 3)

(7.625, 2.108, 0.796)

In [21]:
smape_d = SMAPE(df_test_d.values, df_smyl_d.values[:,:14])
mase_d = MASE(df_test_d.values, df_smyl_d.values[:,:14], scale_list[4])
owa_d = OWA(mase_d, smape_d, freq="daily")
round(smape_d, 3), round(mase_d, 3), round(owa_d, 3)

(3.097, 3.344, 1.019)

In [22]:
smape_h = SMAPE(df_test_h.values, df_smyl_h.values[:,:48])
mase_h = MASE(df_test_h.values, df_smyl_h.values[:,:48], scale_list[5])
owa_h = OWA(mase_h, smape_h, freq="hourly")
round(smape_h, 3), round(mase_h, 3), round(owa_h, 3)

(11.506, 0.819, 0.484)

In [26]:
smape_g = SMAPE(df_test.values, df_smyl.values)
mase_g = MASE(df_test.values, df_smyl.values, scale)
owa_g = OWA(mase_g, smape_g, freq="global")
round(smape_g, 3), round(mase_g, 3), round(owa_g, 3)

(11.72, 1.551, 0.838)

In [24]:
tot_smape = (
    smape_y * df_test_y.shape[0] 
    + smape_q * df_test_q.shape[0]
    + smape_m * df_test_m.shape[0]
    + smape_w * df_test_w.shape[0]
    + smape_d * df_test_d.shape[0]
    + smape_h * df_test_h.shape[0]
    ) / df_test.shape[0]
tot_smape

11.720282344585177